<div class="container">
    <div class="row d-flex justify-content-center mt-2">
        <div class="col-5 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-2">
            <div class="card" onClick="alert('Produccion')" style="cursor:pointer;">
                <img src="/img/produccion.png" class="card-img-top p-3 pb-0">
                <div class="card-body">
                    <h5 class="card-title text-center">Producción</h5>
                </div>
            </div>

        </div>

        <div class="col-5 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-2">
            <div class="card">
                <img src="/img/operario.png" class="card-img-top p-3 pb-0">
                <div class="card-body">
                    <h5 class="card-title text-center">Operario</h5>
                </div>
            </div>

        </div>

        <div class="col-5 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-2">
            <div class="card">
                <img src="/img/usuario.png" class="card-img-top p-3 pb-0">
                <div class="card-body">
                    <h5 class="card-title text-center">Usuario</h5>
                </div>
            </div>

        </div>
    </div>
    <div class="row">

        <div class="col">
            <div>
                <a href="/usuarios/nuevoUsuario" class="btn btn-outline-info p-2 m-2">Agregar Usuario</a>
            </div>

            <div>
                <a href="/operadores/nuevoOperador" class="btn btn-outline-info p-2 m-2">Nuevo Operador</a>
            </div>
            <div>
                <a href="/operadores/operadoresActivos" class="btn btn-outline-info p-2 m-2">Operadores Activos</a>
            </div>

            <div>
                <a href="/ordenProduccion/crear" class="btn btn-outline-info p-2 m-2">Crear Orden de Produccion</a>
            </div>

            <div>
                <a href="/ordenProduccion/listarOP" class="btn btn-outline-info p-2 m-2">Listar Ordenes de
                    Produccion</a>
            </div>

            <div>
                <a href="/produccion/inicio" class="btn btn-outline-info p-2 m-2">Produccion</a>
            </div>

        </div>
    </div>
</div>

<script src=""></script>