<div class="container">
    <div class="row d-flex align-content-between flex-wrap my-1 py-1">{{!-- Menu rutas --}}
        <div class="col">
            <div class="d-flex"> {{!-- rutas --}}
                <a href="/home">Home</a>
                <p> &nbsp; / &nbsp;</p>
                <a href="/home/usuarios">Usuarios</a>
                <p> &nbsp; / &nbsp;</p>
                <a href="/usuarios/listarUsuarios">Lista de Usuarios</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Editar Usuario</h3>
                </div>
                <div class="card-body">
                    <form action="/usuarios/cambiarPassword/{{usuario.idUsuario}}" method="POST">
                        <div class="form-group py-2 my-2"> <!-- fullname -->
                            <label for="fullname">Nombre completo:</label>
                            <input type="text" name="fullname" placeholder="Nombre Completo" class="form-control"
                            value="{{usuario.fullname}}" readonly>
                        </div>

                        <div class="form-group py-2 my-2"> <!-- username -->
                            <label for="username">Nombre de usuario:</label>
                            <input type="text" name="username" placeholder="Nombre de usuario" class="form-control"
                            value="{{usuario.username}}" readonly>
                        </div>

                        <div class="form-group py-2 my-2"> <!-- password -->
                            <label for="password">Nueva Contrase単a:</label>
                            <input type="password" name="password" id="password" placeholder="Nueva Contrase単a" class="form-control" autofocus>
                        </div>

                        <div class="form-group py-2 my-2"> <!-- Repetir password -->
                            <label for="rePassword">Repetir Contrase単a:</label>
                            <input type="password" name="rePassword" id="rePassword" placeholder="Repetir Contrase単a" class="form-control">
                        </div>
                        <div class="form-group py-2 my-2 text-center"> {{!-- Guardar --}}
                            <button type="submit" class="btn btn-success mx-2">
                                <i class="fa-solid fa-check"></i>&nbsp;Guardar</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
