<div class="container p-4">
    {{#if user}}
    <div class="row">
        <div class="col">
            <a href="/home" class="btn btn-outline-primary">Menu Principal</a>
        </div>
    </div>
    </div>
    {{/if}}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Codigo</h3>
                </div>
                {{!-- Obtener codigo de operario --}}
                <div class="card-body">
                    <form action="/produccion/inicio" method="post">
                        <div class="form-group py-2 my-2"> {{!-- codigoOperador --}}
                            <input type="text" name="codigoOperador" placeholder="Codigo del operador"
                                class="form-control" autofocus>
                        </div>
                        <div class="form-group py-2 my-2 text-center"> {{!-- Buscar --}}
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>

                    </form>
                </div>                
            </div>

        </div>
    </div>
</div>