<div class="container">
    <div class="row d-flex justify-content-center mt-2">

        <div class="col-5 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-2">{{!-- Produccion --}}
            <div class="card" onClick=(location.href="/home/produccion") style="cursor:pointer;">
                <img src="/img/produccion.png" class="card-img-top p-3 pb-0">
                <div class="card-body">
                    <h5 class="card-title text-center">Producción</h5>
                </div>
            </div>

        </div>

        {{#if user}}

        <div class="col-5 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-2">{{!-- Operarios --}}
            <div class="card" onClick=(location.href="/home/operarios") style="cursor:pointer;">
                <img src="/img/operario.png" class="card-img-top p-3 pb-0">
                <div class="card-body">
                    <h5 class="card-title text-center">Operarios</h5>
                </div>
            </div>

        </div>

        <div class="col-5 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-2"> {{!-- Usuarios --}}
            <div class="card" onClick=(location.href="/home/usuarios") style="cursor:pointer;">
                <img src="/img/usuario.png" class="card-img-top p-3 pb-0">
                <div class="card-body">
                    <h5 class="card-title text-center">Usuarios</h5>
                </div>
            </div>

        </div>
        {{/if}}
    </div>

</div>
