<div class="container">
    <div class="row">{{!-- Menu rutas --}}
        <div class="col">
            <div>
                <a href="/home">Home</a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <div>
                <a href="/operadores/nuevoOperador" class="btn btn-outline-info p-2 m-2">Nuevo Operador</a>
            </div>
            <div>
                <a href="/operadores/operadoresActivos" class="btn btn-outline-info p-2 m-2">Operadores Activos</a>
            </div>

        </div>
    </div>
</div>