<div class="container">
    <div class="row">{{!-- Menu rutas --}}
        <div class="col">
            <div>
                <a href="/home">Home</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <a href="/ordenProduccion/crear" class="btn btn-outline-info p-2 m-2">Crear Orden de Produccion</a>
            </div>

            <div>
                <a href="/ordenProduccion/listarOP" class="btn btn-outline-info p-2 m-2">Listar Ordenes de
                    Produccion</a>
            </div>

            <div>
                <a href="/produccion/inicio" class="btn btn-outline-info p-2 m-2">Produccion</a>
            </div>

        </div>
    </div>
</div>